/* 
floating multiple Element: float remove the element being float from the document flow.
it move it to the direction of the float, left or right
Clear property: help you to re-stack the following element under the floated 
element
*/

body {
    background-color: #1f1f1f;
    color: #bfbfbf;
    height: 2000px;
}

h1 {
    font-weight: normal;
}

em {
    color: #e07a05;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

/* floating the blue box */
.bluebox {
    background: #627da0;
    float: left;
}

.greenbox {
    background: #5b8054;
    float: left;
}
/* clear helps you to re-order the following element under
the floated element to stack properly.
Clear is clear to the direction of the floated element or both 
*/
h1 {
    clear: both;
}